: root {
    --font: 'Mulish', sans-serif;
}

* {
    font-family: 'Mulish', sans-serif;
    margin: 0px;
    padding: 0px;
}

p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

button,
.button {
    border-radius: 8px;
    background: #FF5400;
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0px solid #fff;
    color: #fff;

}

.header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 52px 0px 0px 0px;
    justify-content: space-between;
    display: flex;
}

.div-width {
    max-width: 1170px;
    margin: 0 auto;

}

.div-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}


li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* Header */

.header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 52px 0px 0px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logowith-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logowith-text img {
    width: 48px;
    margin-right: 16px;
}

.logo-name {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo-name span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header .menu-item li {
    text-decoration: none;
    list-style: none;
    margin-right: 44px;
}

.header .menu-item li:hover {
    color: #FF5400;
    cursor: pointer;
}

.barcumb {
    display: none;
    cursor: pointer;
}

.div-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Poplar Tour */
.popular-tour .content {
    margin-right: 55px;

}

.content .list-item {

    margin-left: 20px;
}

.content h1,
.content p,
.content li {
    text-align: left;
    margin-bottom: 24px;
}
/* Destination */

.destination h1{
    margin-bottom: 24px;
}
.secoend-row{
    margin-bottom: 24px;
    margin-top: 24px;

}
.first-row{
    margin-top: 48px;
}
.first-row .first-column {
    background-image: url("../Images/Rectangle 5.png");
    padding-top: 133px;
    padding-bottom: 133px;
    background-size: cover;
    padding-left: 227px;
    padding-right: 227px;
    border-radius: 16px;
    margin-right: 24px;
    background-position: center;
}
.first-row .secoend-column {
    background-image: url("/Images/Rectangle\ 8.png");
    padding-top: 133px;
    padding-bottom: 133px;
    background-size: cover;
    padding-left: 227px;
    padding-right: 227px;
    border-radius: 16px;
    margin-right: 24px;
    background-position: center;
}
.first-row h3 , .secoend-row h3 , .third-row h3{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.secoend-row .first-column {
    background-image: url("../Images/Rectangle\ 6.png");
    padding-top: 125px;
    padding-bottom: 125px;
    background-size: cover;
    padding-left: 130px;
    padding-right: 130px;
    border-radius: 16px;
    margin-right: 24px;
    background-position: center;
   
}
.secoend-row .secoend-column {
    background-image: url("/Images/Rectangle\ 7.png");
    padding-top: 125px;
    padding-bottom: 125px;
    background-size: cover;
    padding-left: 137px;
    padding-right: 137px;
    border-radius: 16px;
    margin-right: 24px;
    background-position: center;
    
}
.secoend-row .third-column {
    background-image: url("/Images/Rectangle\ 9.png");
    padding-top: 125px;
    padding-bottom: 125px;
    background-size: cover;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 16px;
    margin-right: 24px;
    background-position: center;
   
}

.third-row .first-column {
    background-image: url("/Images/Rectangle\ 11.png");
    padding-top: 132px;
    padding-bottom: 132px;
    background-size: cover;
    padding-left: 156px;
    padding-right: 156px;
    border-radius: 16px;
    margin-right: 24px;
    background-position: center;
}
.third-row .secoend-column {
    background-image: url("/Images/Rectangle\ 10.png");
    padding-top: 132px;
    padding-bottom: 132px;
    background-size: cover;
    padding-left: 260px;
    padding-right: 260px;
    border-radius: 16px;
    margin-right: 24px;
    background-position: center;
}


/* Why Choose Us */

.why-choose .box img {
    width: 64px;
    margin-bottom: 0px;
}

.why-choose .chooseustitle p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.why-choose .box .box-1,
.why-choose .box .box-2 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 55px;
}

.why-choose .box .box-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 55px;
    margin-right: 300px;
    margin-left: 300px;
}

.why-choose .box {
    flex-wrap: wrap;
    gap: 12px
}

.why-choose .box div {
    flex: 33%;
}

.why-choose .box h4 {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 20px;

}

.why-choose .box P {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    text-align: left;
}


/* Newsletter */

.newsletter {
    gap: 24px;
    margin-bottom: 30px;
}

.hr-newsletter {
    margin-bottom: 24px;
    background: rgba(19, 19, 24, 0.10);
    color: rgba(19, 19, 24, 0.10);
}

.content-newsletter {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    margin-bottom: -30px
}

.newsletter .content-newsletter>p {
    margin-bottom: 24px;
    margin-top: 20px;
}

.newsletter .content-newsletter>h3 {
    color: #131318;

    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.form .input {
    display: inline;
    margin-top: 8px;
    margin-bottom: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 16px;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    width: 95%;
}

.button {
    width: 100%;
    margin-top: 16px;
}

.discount-content {
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    transform: rotate(-19.628deg);
    margin-top: -224px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 6px;
}

.imagediscount {
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;

}

.discount-content p,
.discount-content h3 {
    color: #fff;
    display: inline-block;
    width: 100%;
}

.imagediscount img {
    margin-bottom: -30px;
}
.imagediscount img {
    margin-bottom: -30px;
    width: 100%;
    height: 442px;
}

/* Footer */

footer {
    background: rgba(19, 19, 24, 0.05);
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 335px;
    padding-right: 335px;
}

.footer-content {
    display: inline;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin-top: 15px;
}

.footer-content .list-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 50px;
}

.footer-content .list-icon li {
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
}

.footer-content .copyright p {
    margin-top: 50px;
}

.footer {}

/*  Responsive */

@media only screen and (max-width: 600px) {


    .div-flex {
        flex-direction: column;
        padding: 20px;
    }


    body {
        overflow-x: hidden;
    }

    p {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    h1 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    button {
        border-radius: 8px;
        background: #FF5400;
        height: 52px;
        flex-shrink: 0;

    }

    .div-padding {
        padding-top: 25px;
        padding-bottom: 25px;
    }


    /*  Header */
    .barcumb {
        display: flex;
        cursor: pointer;
    }

    .header {
        padding: 19px 20px 20px 20px;
    }

    .logo-name,
    .logo-name span {
        font-size: 21px;
    }

    .header .menu-item {
        display: none !important;
    }

    /* Poplar */
    .poplar-tour {
        flex-direction: column;
        padding: 20px;
    }

    .popularimage {
        margin-top: 24px;
    }

    .content {
        margin-right: 0px;
    }

    .content h1,
    .content p,
    .content li {
        text-align: left;
        margin-bottom: 16px;
    }
    /* Destination */
    .secoend-row {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .chosse-destination .div-flex {
        flex-direction: column;
        padding: 0px;
    }
    .first-row .first-column,
    .first-row .secoend-column,
    .secoend-row .first-column,
    .secoend-row .secoend-column,
    .secoend-row .third-column,
    .third-row .first-column,
    .third-row  .secoend-column
    
    {
        
    padding-top: 125px;
    padding-bottom: 125px;
    background-size: cover;
    padding-left: 200px;
    padding-right: 254px;
    border-radius: 16px;
    margin-right: 0px;
    width: 16%;
    margin-bottom: 16px;
    background-position: center;
        
    }
    
    /*  */

    .why-choose .chooseustitle p {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align-last: center;
        padding-left: 33px;
        padding-right: 33px;
    }

    .why-choose .box {
        flex-wrap: nowrap;
        gap: 16px;
    }

    .why-choose .box .box-3 {
        margin-right: 0px;
        margin-left: 0px;
    }

    .why-choose .box img {
        width: 48px;
        margin-bottom: 0px;
    }

    .why-choose .box h4 {
        font-size: 20px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .why-choose .box .box-1,
    .why-choose .box .box-2,
    .why-choose .box .box-3 {
        padding-right: 32px;

    }

    /* Newsletter*/
    .imagediscount img {
        margin-bottom: -30px;
        width: 100%;
        margin-top: 25px;
    }

    .content-newsletter {
        border-radius: 16px;
        border: 1px solid #FF5400;
        padding: 40px;
        margin-bottom: -30px;
        width: 85%;
    }

    /* Footer */
    footer {
        padding-bottom: 30px;
        padding-top: 33px;
    }

    .footer-text {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .footer-content .list-icon {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .footer-content .copyright p {
        margin-top: 24px;
    }

    .footer {
        background: rgba(19, 19, 24, 0.05);
        padding-top: 110px;
        padding-bottom: 110px;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 100%;
    }

}