: root {
    --font: 'Mulish', sans-serif;
}

* {
    font-family: 'Mulish', sans-serif;
    margin: 0px;
    padding: 0px;
}

p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

button {
    border-radius: 8px;
    background: #FF5400;
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0px solid #fff ;
    color : #fff;

}

.header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 52px 0px 0px 0px;
    justify-content: space-between;
    display: flex;
}

.div-width {
    max-width: 1170px;
    margin: 0 auto;

}
.div-padding {
padding-top: 25px;
padding-bottom: 25px;
}


li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* Header */

.header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 52px 0px 0px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logowith-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logowith-text img {
    width: 48px;
    margin-right: 16px;
}

.logo-name {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo-name span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header .menu-item li {
    text-decoration: none;
    list-style: none;
    margin-right: 44px;
}

.header .menu-item li:hover {
    color: #FF5400;
    cursor: pointer;
}

.barcumb {
    display: none;
    cursor: pointer;
}

.div-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Poplar Tour */
.content {
    margin-right: 55px;
    
}

.content .list-item{

    margin-left: 20px;
}
.content h1 ,p,li{
    text-align: left;
    margin-bottom: 24px;
}


/* Footer */

footer {
    background: rgba(19, 19, 24, 0.05);
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 335px;
    padding-right: 335px;
}

.footer-content {
    display: inline;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin-top: 15px;
}

.footer-content .list-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 50px;
}

.footer-content .list-icon li {
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
}

.footer-content .copyright p {
    margin-top: 50px;
}

/*  Responsive */

@media only screen and (max-width: 600px) {

    body {
        overflow-x: hidden;
    }

    p {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    h1 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    button {
        border-radius: 8px;
        background: #FF5400;
        height: 52px;
        flex-shrink: 0;

    }


    /*  Header */
    .barcumb {
        display: flex;
        cursor: pointer;
    }

    .header {
        padding: 19px 20px 20px 20px;
    }

    .logo-name,
    .logo-name span {
        font-size: 21px;
    }

    .header .menu-item {
        display: none !important;
    }
     /* Poplar */
     .poplar-tour {
        flex-direction: column;
        padding: 20px;
    }
    .div-flex {
        flex-direction: column;
        padding: 20px;
    }
    .popularimage{
        margin-top: 24px;
    }
    .content {
        margin-right: 0px;
    }
    .content h1, p, li {
        text-align: left;
        margin-bottom: 16px;
    }

    /* Footer */
    footer {
        padding: 44px;
        padding-bottom: 30px;
        padding-top: 33px;
    }

    .footer-text {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .footer-content .list-icon {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .footer-content .copyright p {
        margin-top: 24px;
    }
   



}